{% extends "watchlist/base.html" %}

{% block title %}Search{% endblock %}

{% block body %}
<div class="bgimg-3">
  {% if error %}
  <div class="alert alert-dismissible alert-dark">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Not found,</strong> Please try again
  </div>
  {% endif %}
  <div class="form_header">
    <span class="border">Find what you are looking for</span>
    <hr>
    <div class="container">
      <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <legend style="color:grey">Enter a search term</legend>
        <div class="form-group">
          <input class="form-control form-control-lg search_query" type="text" name="search_query" required autofocus>
          <button type="submit" class="btn btn-outline-secondary btn-lg">Search</button>
        </div>
      </form>
    </div>
    {% if items %}
    <div class="container" style="opacity:1" id="trending_container">
      <div class="card-columns">
        {% for item in items %}
        <div class="card">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w342/{{ item.poster_path }}" alt="{{ item.original_title }}">
        <div class="card-body">
        {% if item.title %}
        <h5 class="card-title">{{ item.title }}</h5>
        {% else %}
        <h5 class="card-title">{{ item.name }}</h5>
        {% endif %}
        <p class="card-text">{{ item.overview }}</p>
        {% if item.release_date %}
        <p class="card-text"><small class="text-muted">{{ item.release_date }}</small></p>
        {% else %}
        <p class="card-text"><small class="text-muted">First Aired: {{ item.first_air_date }}</small></p>
        {% endif %}
        <form method="post" action="{% url 'content' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ item.id }}" name="content_id"/>
        <button type="sumbit" class="btn btn-primary btn-sm" name="content" value="{{ item.media_type }}">More info</button>
        </form>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
